* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  align-items: center;

  width: 100%;
  height: 6rem;

  background-color: #222222;
}

header img {
  width: 130px;

  margin-top: 5.5rem;
}

header h1 {
  font-size: 2.25rem;
  color: #fff;
  font-family: "Corinthia", cursive;
}

.header-nav ul {
  display: flex;
  gap: 1.5rem;

  color: #fff;

  list-style: none;
}

.header-nav ul li {
  font-size: 1.25rem;
}

.header-nav ul li a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;

  max-width: 1336px;
  width: 100%;

  margin: 0 auto;
}

#history-section {
  margin-top: 10rem;
}

article h2 {
  font-size: 4.5rem;
  font-family: "Corinthia", cursive;
}

article img {
  width: 800px;
}

.img-and-paragraph {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
}

#newsletter-section {
  margin: 2.5rem 0;
}

#newsletter-section .container {
  padding: 1rem;

  border-radius: 4px;
  background-color: #222222;
}

.newsletter-title h2,
.newsletter-title span {
  color: #fff;
}

.newsletter-title span {
  font-style: italic;
}

#newsletter-section form input {
  width: 250px;

  padding: 0.75rem;
  margin-right: 1rem;

  border: none;
  border-radius: 6px;
}

#newsletter-section form input:focus {
  outline: none;
}

#newsletter-section form button {
  margin-left: 1rem;

  background: none;
  border: none;

  font-size: 1.125rem;
  font-style: italic;
  color: #fff;
}
